@model AddIngredientViewModel


@{
    ViewData["Title"] = "Add Ingredient to Recipe";
    var first = Guid.NewGuid(); var second = Guid.NewGuid();
}





@using (Html.BeginForm(new { action = "AddedIngredients", controller = "Recipe" }))
{





    foreach (var kvp in Model.RecipeList)
    {
        <p>
            <select asp-for="Ingredients" asp-items="@Model.Ingredients.Select(p => new SelectListItem { Text = p.Name })"  class="form-control" id="simpleSelect2"></select>

            <input type="number" name="Model.RecipeList[@first].Value" value="@kvp.Value" />
            <input type="hidden" name="Model.RecipeList.Index" value="@first" />
        </p>
    }

    <!-- <p>

        <input type="text" name="Model.RecipeList[first].Key" value="kvp.Key" />


        <input type="number" name="Model.RecipeList[second].Key" value="" />
        <input type="number" name="Model.RecipeList[second].Value" value="" />
        <input type="hidden" name="Model.RecipeList.Index" value="second" />
    </p>-->

    <p>
        <input type="submit" value="Submit" />
    </p>
}



<h1>Add ingredients to @Model.Recipe.Name </h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddedIngredients" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Recipe.Kitchen" class="control-label"></label>
                <select asp-for="Recipe.Kitchen" asp-items="Html.GetEnumSelectList<Cuisine>()" name="simpleSelect2" class="form-control" id="simpleSelect2"></select>

                <span asp-validation-for="Recipe.Kitchen" class="text-danger"></span>
            </div>




            @for (int i = 0; i < Model.NumerOfIngredients; i++)
            {
                <div class="form-group">
                    <label class="control-label"> Select an ingredient</label>
                    <select asp-for="Ingredients" asp-items="@Model.Ingredients.Select(p => new SelectListItem { Text = p.Name })" name="simpleSelect2" class="form-control" id="simpleSelect2"></select>

                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                    <label class="control-label"> Quantity of ingredient (gram)</label>
                    <!--<input type="number" asp-for="RecipeList.Add(value)" value="42" />-->

                    <input type="number" asp-for="NumerOfIngredients" value="42" />

                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>






        </form>


        </div>

        @section Scripts
{

            <script type="text/javascript">
                function GetDynamicTextBox(value) {
                    return '<input name = "DynamicTextBox" type="text" value = "' + value + '" />' +
                        '<input type="button" value="Remove" onclick = "RemoveTextBox(this)" />' +
                        '<select asp-for="Ingredients" asp-items="Html.GetEnumSelectList<Ingredients>()" name="simpleSelect2" class="form-control" id="simpleSelect2"></select>'

                }
                function AddTextBox() {
                    var div = document.createElement('DIV');
                    div.innerHTML = GetDynamicTextBox("");
                    document.getElementById("TextBoxContainer").appendChild(div);
                }

                function RemoveTextBox(div) {
                    document.getElementById("TextBoxContainer").removeChild(div.parentNode);
                }

                function RecreateDynamicTextboxes() {
                    var values = eval('<%=Values%>');
                    if (values != null) {
                        var html = "";
                        for (var i = 0; i < values.length; i++) {
                            html += "<div>" + GetDynamicTextBox(values[i]) + "</div>";
                        }
                        document.getElementById("TextBoxContainer").innerHTML = html;
                    }
                }
                window.onload = RecreateDynamicTextboxes;
            </script>
            <script src="~/lib/select2/js/select2.full.min.js"></script>
            <script src="~/js/select2.js"></script>

        }
