@model RecipeDetailsViewModel


<h2>@Model.Recipe.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Recipe.Name" src="@Model.Recipe.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Recipe.Kitchen</h3>
        <h3>
            <a href="#">@Model.Recipe.Name</a>
        </h3>
        <h4>@Model.Recipe.ShortDescription</h4>
        <h4>@Model.Recipe.Id</h4>

        <div class="addToPlan">
            <p class="button">
                <a class="btn btn-primary" asp-controller="FoodPlan" asp-action="AddToFoodPlan"
                   asp-route-recipeId="@Model.Recipe.Id">Add to food plan</a>
            </p>
        </div>
        <div class="deleteRecipe">
            <p class="button">
                <a class="btn btn-warning" asp-controller="Recipe" asp-action="Remove"
                   asp-route-recipeId="@Model.Recipe.Id">Remove Recipe</a>
            </p>
        </div>


        <form method="post" asp-action="AddIngredient" asp-controller="Recipe">

            <div class="form-group">
                <label asp-for="@Model.Recipe.Id" class="col-md-2 control-label" ></label>
                <label asp-for="@Model.Recipe.Name" class="col-md-2 control-label">@Model.Recipe.Name</label>
                <input type="hidden" asp-for="@Model.Recipe.Id" value="@Model.Recipe.Id"/>

                <input asp-for="@Model.recipeId" class="form-control" value="@Model.Recipe.Id"/>
            </div>


                <div class="form-group">
                    <label asp-for="@Model.numberOfRecipes" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="@Model.numberOfRecipes" class="form-control" />
                        <span asp-validation-for="@Model.numberOfRecipes" class="text-danger"></span>
                    </div>
                </div>

                <div>

                    <input type="text" name="test" class="form-control" />

                </div>


                <div>
                    <button class="btn btn-warning" type="submit">
                        Add Ingredients
                    </button>
                </div>
        </form>
       
    </div>

</div>