@model RecipeDetailsViewModel

<div class="thumbnail">
    <img alt="@Model.Recipe.Name" src="@Model.Recipe.ImageUrl">
    <div class="caption-full" width="400" height="400">
        <h2>@Model.Recipe.Name</h2>
        <h3 class="pull-right">@Model.Recipe.Kitchen</h3>
        <h3>
            <a href="#">@Model.Recipe.Name</a>
        </h3>
        <h4>@Model.Recipe.ShortDescription</h4>
        <h4>Recipe ID:  @Model.Recipe.Id</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col">CO2 Emission (per 100g)</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Total CO2 Footprint of Ingredient</th>
                    <th scope="col">% CO2 </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipeIngredient in Model.recipeIngredients)
                {
                    var tempTotalCO2 = (recipeIngredient.WeightofIngredient * (recipeIngredient.Ingredient.TotalKgCo2eq / 1000));
                    var tempPercentage = (recipeIngredient.WeightofIngredient * (recipeIngredient.Ingredient.TotalKgCo2eq / 1000));
                    var tempWeight = ((recipeIngredient.WeightofIngredient * (recipeIngredient.Ingredient.TotalKgCo2eq / 1000)) / (Model.totalCO2 / 100));
                    <tr>


                        <td>@recipeIngredient.Ingredient.Name</td>



                        <td>@Html.DisplayFor(m => recipeIngredient.Ingredient.TotalKgCo2eq) </td>
                        <td>@Html.DisplayFor(m => recipeIngredient.WeightofIngredient) </td>

                        <td> @Html.DisplayFor(m => tempTotalCO2) </td>

                        <td>@Html.DisplayFor(m => tempWeight) %</td>
                        <td>
                            <form method="post" asp-controller="Recipe" asp-action="RemoveItem">

                                <div class="form-group">

                                    <input type="hidden" asp-for="@Model.recipeId" value="@Model.Recipe.Id" class="form-control" />

                                    <input type="hidden" asp-for="@Model.ingredientId" class="form-control" value="@recipeIngredient.IngredientId" />
                                </div>

                                <button class="btn btn-warning" type="submit">
                                    Remove
                                </button>
                            </form>
                        </td>
                    </tr>

                }
                <tr>
                    <td colspan="3"><b>Total Recipe CO2 Footprint</b></td>
                    <td><b>@Html.DisplayFor(m => m.totalCO2)</b></td>

                </tr>

            </tbody>
        </table>



        @if (Model.recipeIngredients.Count == 0)
        {
            <p class="button"><i> This recipe has no ingredients, that is odd. Normally recipes has ingredients, add some if you'd like!</i></p>
        }

        <div class="addIngredient">
            <p class="button">
                <a class="btn btn-primary" asp-controller="Recipe" asp-action="AddItem" asp-route-id="@Model.Recipe.Id"> Add Ingredients Here  </a>
            </p>
        </div>
        <div class="addToPlan">
            <p class="button">
                <a class="btn btn-primary" asp-controller="FoodPlan" asp-action="AddToFoodPlan"
                   asp-route-recipeId="@Model.Recipe.Id">Add to food plan</a>
            </p>
        </div>
        <div class="deleteRecipe">
            <p class="button">
                <a class="btn btn-warning" asp-controller="Recipe" asp-action="Remove"
                   asp-route-recipeId="@Model.Recipe.Id">Remove Recipe</a>
            </p>
        </div>
  </div>

    </div>